.createTeamSection {
    min-width: 43rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.createTeamHeader {
    height: 3.8rem;
    width: 100%;
    background-color: lavender;
    border: 0.1rem solid #FFFFFF;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.createTeamContent {
    box-sizing: border-box;
    width: 100%;
    height: 56rem;
    background: #211134;
    border-width: 0rem 0.1rem 0.1rem 0.1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 0.8rem;
}


.teamSelect {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.teamSelectPlayers {
    margin-top: 2rem;
    display: flex;
    gap: 1rem
}

.teamPlayerDetails {
    width: 3.2rem;
    height: 3.2rem;
    background: #000235;
    border-radius: 0.4rem;
}

.teamPlayerImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.teamPlayer {
    width: 3.2rem;
    height: 3.2rem;
    background: #FF326A;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamText {
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.004rem;
    color: #FFFFFF;
}

.teamCredit {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    background: #391a5e;
    background-blend-mode: overlay;
    border: 0.1rem solid rgba(235, 235, 245, 0.3);
    border-radius: 1.5rem;
}

.teamCreditText {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.teamDetails {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.team1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.team1Logo {
    width: 8rem;
    height: 2.5rem;
    background: #FFEE00;
    position: relative;
}

.team1Img {
    position: absolute;
    z-index: 1;
    top: -1.25rem;
    left: 4.3rem;
    height: 5rem;
    width: 5rem;
    background: #000235;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamName {
    margin: 0 1.25rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 0.8rem;
    text-align: center;
    letter-spacing: 0.004rem;
    color: #FFFFFF;
}


.team2 {
    display: flex;
    flex-direction:row !important;
    align-items: center;
    gap: 1rem !important;
}

.team2Logo {
    width: 8rem;
    height: 2.5rem;
    background: #CE0037;
    position: relative;
}

.team2Img {
    position: absolute;
    z-index: 1;
    top: -1.25rem;
    right: 4.3rem;
    height: 5rem;
    width: 5rem;
    background: #000235;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamMembers {
    display: flex;
    gap: 1em;
    padding: 0 2rem;
    margin-top: 2rem;
}

.team1Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.playerCard {
    display: flex;
    width: 19rem;
    height: 5.5rem;
    background: rgba(255, 255, 255, 0.2);
    border: 0.03rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0rem 0.25rem 2.5rem rgba(0, 1, 27, 0.2);
    backdrop-filter: blur(1.25rem);
    border-radius: 0.25rem;
    cursor: pointer;
    /* border:2px solid #FF326A; */
}

.playerCardImg {
    width: 5.4rem;
    height: 5.4rem;
    background: #211134;
    border: 0rem solid #FFFFFF;
    border-radius: 0.4rem;
}

.playerImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.playerCardDetails {
    width: 13.6rem;
    display: flex;
    flex-direction: column
}

.playerName {
    height: 3.6rem;
    background: rgba(255, 255, 255, 0.1);
    border: 0.03rem solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1.25rem);
    border-radius: 0rem 0.25rem 0.25rem 0.25rem;
    display: flex;
    flex-direction: column;
}

.name {
    padding: 1rem;
}

.nameText {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #FFFFFF;
}

.playerCredit {
    height: 1.8rem;
}

.credit {
    padding: 0.2rem 1rem;
}

.creditDetails {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #FF326A;
}


.team2Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.btn {
    height: 4rem;
    width: 40rem;
    background: #FF326A;
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 152.5%;
    text-align: center;
    letter-spacing: 0.004rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.btn-disabled {
    height: 4rem;
    width: 39rem;
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 152.5%;
    text-align: center;
    letter-spacing: 0.004rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 1rem 2rem;
    border: none;
    cursor: pointer;
}