.liveMatchSection {
    min-width: 21rem;
    height: 83rem;
}

.liveMatchHeader {
    height: 4rem;
    background-color: lavender;
    border: 0.1rem solid #FFFFFF;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
}

.liveMatchContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1rem;
    width: 100%;
    height: 83rem;
    background: #211134;
    border-width: 0rem 0.1rem 0.1rem 0.1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.liveMatchContentBox {
    height: 10rem;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border: 0.03rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0rem 0.25rem 2.5rem rgba(0, 1, 27, 0.2);
    backdrop-filter: blur(1.25rem);
    border-radius: 0.5rem;
}

.liveTeamsDetails {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
}

.team1Name {
    font-style: normal;
    font-weight: 600;
    font-size: 0.65rem;
    line-height: 0.65rem;
    text-align: center;
    color: rgba(235, 235, 245, 0.6);
}

.team2 {
    display: flex;
    flex-direction: column;
    gap: 0
}

.team2logo {
    height: 1rem;
    width: 1rem;
}

.team2logoImg {
    height: 100%;
    width: 100%;
}

.team2Name {
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    font-size: 0.5rem;
    /* line-height: 1rem; */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.line {
    border: 0.003rem solid rgba(255, 255, 255, 0.3);
    width: 295px;
    margin: 0.01rem 0.8rem;
}


.teamDetails {
    display: flex;
    justify-content: space-between;
}

.team1Details {
    display: flex;
    align-items: center;
    gap: 1.5rem !important;
}

.team1box {
    height: 1.5rem;
    width: 2rem;
    background: #0090DE;
    position: relative;
}

.team1LogoImgBox {
    position: absolute;
    top: -1rem;
    left: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    background: #000235;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamName {
    margin: 0 1.25rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    letter-spacing: 0.004rem;
    color: #FFFFFF;
}


.team2Details {
    display: flex;
    align-items: center;
    gap: 1.5rem !important;
}

.team2box {
    height: 1.5rem;
    width: 2rem;
    background: #EC228B;
    position: relative;
}

.team2LogoImgBox {
    position: absolute;
    top: -1rem;
    right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    background: #000235;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0;
}

.liveBtn {
    width: 2.5rem;
    height: 1.2rem;
    background: #FF323E;
    border-radius: 0.125rem;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #FFFFFF;

}