.navbar {
    height: 5rem;
    min-width:90rem; /* this is the important part*/
    background: #211134;
    backdrop-filter: blur(0.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: white;
    box-sizing: border-box;
}

.navMenu{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-left: 2rem;
}
.navMenuTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    color: #FFFFFF;
}


.navProfile{
    margin-left: 2rem;
    display: flex;
}

.navLogout{
    margin-left: 2rem;   
}